.statistics {
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.title {
  border: 1px solid black;
}

.label {
  border: 1px solid black;
}

.percentage {
  border: 1px solid black;
}

.stat_list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  padding: 5px;
  background-color: random;
}
