.profile {
}

.description {
  border: 1px solid black;
}

.avatar {
  border: 1px solid black;
}

.name {
  border: 1px solid black;
}

.tag {
  border: 1px solid black;
}

.label {
  border: 1px solid black;
}

.quantity {
  border: 1px solid black;
}
