.friendsList {
  border: 3px solid green;
  margin: 20px;
}

.item {
  border-radius: 50px;
  display: flex;
  padding: 3% 5%;
  box-shadow: 7px 8px 19px 1px rgba(66, 68, 90, 0.66);
  margin: 3% 5%;
}

.name {
  font-size: 5vw;
}

.avatar {
  width: 20%;
  height: auto;
}
